#### unmanaged SBT dependencies (javaws)
/lib

#### IDE
/.cache
/.classpath
/.ensime
/.idea*
/.project
/.settings
/projectFilesBackup


#### SBT output
/target
/project/project
/project/target


#### private info
*.ks
*vasya*
